/* first, let's follow best practices and cancel out default margins with the universal selector */
/* * {
   margin: 0;
   padding: o;
} */

/* now we can control our margins ourselves, so lets give the body a 50px margin on the left and right; and a 25px margin on the top and bottom.

can you write it in shorthand?*/

body {
 margin-right: 50px;
 margin-left: 50px;
 margin-top: 25px;
 margin-bottom: 25px;
}

.comic-neue-light {
  font-family: "Comic Neue", cursive;
  font-weight: 300;
  font-style: normal;
}

.comic-neue-regular {
  font-family: "Comic Neue", cursive;
  font-weight: 400;
  font-style: normal;
}

.comic-neue-bold {
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-style: normal;
}

.comic-neue-light-italic {
  font-family: "Comic Neue", cursive;
  font-weight: 300;
  font-style: italic;
}

.comic-neue-regular-italic {
  font-family: "Comic Neue", cursive;
  font-weight: 400;
  font-style: italic;
}

.comic-neue-bold-italic {
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-style: italic;
}

/* Find a custom font on Google Fonts and add it to the HTML head and your CSS: make sure you add the links and the font-family */
h1 {
   margin-bottom: 10px;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-right: 15px;
   padding-left: 15px;
   border: solid rgb(0, 0, 0) 1px;
   text-align: center; 
   text-transform: uppercase;
   background-color: rgb(138, 43, 226); 
}
/* Style the h1:
   10px margin on the bottom
   10px padding on the top and bottom
   15px padding on the right and left
   and a solid black border that is 1px thick
   center the text and make it uppercase in CSS (do not retype it as uppercase in your HTML)
   add a background color with 50% opacity
*/

h2 {
   margin-top: 2.5%;
   margin-bottom: 2.55%;
   background-color: yellow;
   color: black;
   padding-right: 5px;
   padding-left: 10px;
   padding-top: 7px;
   padding-bottom: 18px;
   border: dotted 10px;
}

p {
   background-color: blue;
   color: white;
   padding: 20px;
   border: solid black 5px;
   display: inline-block;
}

code {
   background-color: white;
   color: green;
   border: solid black 2px;
   padding: 5px;
}

li {
   background-color: green;
   color: white;
   padding: 3px;
   border: solid red 3px;
}

a {
   background-color: yellow;
   font: 36px;
   color: black;
   border: solid black 10px;
   text-decoration: none;
   display: block;
   margin-bottom: 10px;
}






